{% extends 'base.html.twig' %}
{% block body %}
    <div class="alert alert-success">
        Vos données ont bien été enregistrées !
    </div>
    <div class="text-center mt-3">
        <p><a href="{{ path('form_connexion') }}">Me connecter maintenant</a></p>
    </div>
{% endblock %}
