{% extends 'base.html.twig' %}
{% block body %}
    <div class="alert alert-success">
        Vous êtes connecté !
    </div>
    <a href="{{ path('../app/templates/jeu/accuel.twig') }}" class="btn btn-success">Continuer</a>
{% endblock %}