{% extends 'base.html.twig' %}

{% block title %}New Notesmots{% endblock %}

{% block body %}
    <h1>Create new Notesmots</h1>

    {{ include('notess_mots/_form.html.twig') }}

    <a href="{{ path('app_notess_mots_index') }}">back to list</a>
{% endblock %}
